::-webkit-scrollbar{
    display: none;
}
li{
    position: relative;
}
.btn-danger{
    position: absolute;
    right: 5px;
}
.btn-info{
    position: absolute;
    right: 50px;
}
li .btn{
    bottom: 10px;
}